{% extends "base.html" %}



{% block title %} Upload File {% endblock %}






{% block main %} 
<div class="main">
<div class="container-fluid header">
  <br>
  <br>
  <br>
  <h1 class="heading" align="center">
    <a href="">The Anyfile to Pdf Converter </a>
    
  </h1>
  
</div>


<div class="container">
    <div class="row">
      <div class="col">
  

<br>
        
        <h1>{{msg}}</h1>

       
        <br>
        <br>
        <form  align ="center" action="/upload-file" method="POST" enctype="multipart/form-data">
          <input type="file" class="input-btn" name="file_name" multiple >
          <input type="submit" value="Upload"> 
         
        </form>
        <br>
        <br>
      </div>
    </div>
  </div>
  
  <article align = "center">
    <h1>How to be a convert ?</h1>
    <p>
    > Choose your Files.
    <br>
    > Click on upload.
    <br>
    > The will be Automatically Downloaded.
    </p>
</article>

</div>


<div class="footer" align= "center">
  <h4>Supporter Content Types :  {{Supported_types}}</h4>
  <p>Developer : Surya Ramachandran , Tamil Nadu, India</p>
  <p><b>© 2021</b></p>
  
</div>

  <style>


.footer {
  bottom: 0px;
  background-color: dodgerblue;
  color: white;
  height: 100px;
}
article {
   
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-weight: 800px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 100px;
}

a{
  text-decoration: none;
  color: white;
}
a:hover{
  text-decoration: none;
  color:red;
}

.header{
  background-color: dodgerblue;
  height: 200px;
  align-items: center;
}
.heading{
  color: white;
}
main{
  min-height: 100vh;
}
  </style>
  {%endblock %}